body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1450px;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate {
  transition: all 0.75s ease-out;
}

.card {
  transform-style: preserve-3d;
  border-radius: 15px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border: 1px solid lightblue;
}

.image {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 20rem;
    z-index: 2;
    transform: translateZ(35px);
    transition: all 0.75s ease-out;
  }
}

.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.about {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    text-transform: uppercase;
    font-weight: lighter;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.75s ease-out;
  margin-bottom: 5rem;
  button {
    border: 1px solid lightblue;
    transform: translateZ(15px);
    text-transform: uppercase;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
    margin-top: 1rem;
    &:first-child {
      margin-top: 0rem;
    }
    &:hover {
      background: #585858;
      color: white;
    }
  }
}
